__pycache__
*.py[cod]
*$py.class

venv/
env/
.venv/
ENV/
virtual_area/
.env
.env.*

*.log
*.tmp
*.pid

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
*.swo

.pytest_cache/
.coverage
htmlcov/

build/
dist/
*.egg-info/


*.sqlite3
*.db


*.tar


node_modules/